@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
* {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    padding: 0;
}
html {
   height: 100%;
}

body {
    background: radial-gradient(circle, rgba(82,18,168,1) 0%, rgba(50,6,109,1) 100%);
    color: #ffffff;
    font-size: 20pt;
    font-weight: 400;
    text-align: center;
    height: 100%;
}

.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

header {
    margin: 0 40px;
    padding: 1% 0;
    width: 96%;
    height: 5%;
    text-shadow: 0.05em 0.05em 1px hsla(0, 0%, 0%, 0.72);
}

.left_header {
    text-align: left;
    float: left;
    width: 50%;
}

.right_header {
    text-align: right;
    float: left;
    width: 50%;
}

.addGroup:hover {
 cursor: pointer;
}

.logouticon:hover {
 cursor: pointer;
}

.content {
   flex: 1 0 auto;
   background-color: #ffffff;
   margin: 0.5% 2%;
   border-radius: 20px;
   padding: 1%;
   color: rgba(82,18,168,1);
   
}

.side_panel {
  text-align: left;
  width: 20%;
  height:100%;
  float:left;
  //Отключение выделения
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.side_panel > details {
  font-size: 0.7em;
  margin: 2%;
  width:100%;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}


details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  cursor: pointer;
  list-style: none;
  width:100%;
}

details summary:before {
  content: '';
  font-family: "Font Awesome 5 free";
  margin-right: 7px;
}

details summary:hover {
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

details[open] summary {
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}
details[open] summary:before {
  text-decoration: underline;
  content: '';
}

.side_panel input[type=radio] {
    display: none;

}


.side_panel input[type=radio]:checked+label {
    display:inline-block;
    color: #ffffff;
    cursor: pointer;
    background-color: rgba(50,6,109,1);
    width: 93.3%;
}
.side_panel input[type=radio]:hover+label {
    display:inline-block;
    color: #ffffff;
    cursor: pointer;
    background-color: rgba(50,6,109,1);
    width: 93.3%;
}

.side_panel label {
  padding-left: 25px;
}


.main_panel {
  float:left;
 //background-color: red;
  width: 80%;
  height:100%;
}

.empty_now {
     float:left;
     color: #ffffff;
 width: 14.8%;
 height:5%;
}

#month {
  display: inline-block;
  width: 200px;
}

.month_selector{
     float:left;
    width: 85%;
    height:5%;
}

#back, #next {
  cursor: pointer;
  width: 50px;
  height: 28px;
  font-size: 0.7em;
  background-color: rgba(50,6,109,1);
  border: none;
  border-radius: 4px;
  color: #ffffff;
}
#back:hover, #next:hover {
  box-shadow: 0 0 2px rgba(82,18,168,1),0 0 4px rgba(82,18,168,1),0 0 6px rgba(82,18,168,1),0 0 8px rgba(82,18,168,1);
  border: 1px solid #ffffff;
  
}

.students_list {
    float:left;
    //background-color:green;
    width: 14.6%;
    height:95%;
    text-align: left;
    border-left: 3px solid currentColor;
    
    //Отключение выделения
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.students_list input[type=radio] {
    display: none;

}

/*
.students_list input[type=radio]:checked+label {
    display:inline-block;
    color: #ffffff;
    cursor: pointer;
    background-color: rgba(50,6,109,1);
    width: 93.3%;
}
.students_list input[type=radio]:hover+label {
    display:inline-block;
    color: #ffffff;
    cursor: pointer;
    background-color: rgba(50,6,109,1);
    width: 93.3%;
}*/

#students_list {
padding: 0 10px;
}

.grade_editor{
    float:left;
    width: 85%;
    height:100%;
}


.days {
    width: 100%;
    height:5%;
}

table {
 border-collapse: collapse;
 width:100%;
}

td {
 width: 2%;
 border: 1px solid black;
}

.grades{
    background-color:red;
    width: 100%;
    height:80%;
}

.bottom{
    background-color:yellow;
    width: 100%;
    height:10%;
}


.authorization::before {
  content: "";
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
  background: linear-gradient(61deg, rgba(152,108,211,1) 0%, rgba(78,23,153,1) 100%);
  box-shadow: 2px -2px 5px hsla(0, 0%, 0%, 0.72), -2px 2px 5px hsla(0, 0%, 0%, 0.72);
  border-radius: 10px;
  z-index: -1;
}

.authorization h2 {
   word-wrap: break-word;
    font-weight: 700;
    letter-spacing: 4px;
}
/* Поля ввода */
.fieldsContainer {
   width: 100%;  
   padding: 5% 10%;
   box-sizing: border-box;
}


@media screen and (min-width: 1498px) {
  .fieldNames {
      font-size: 1em;
      margin-top: 0.5%;
  }
}

@media screen and (max-width: 1497px) {
  .fieldNames {
    font-size: 0.95em;
    margin-top: 2%;
  }
}

@media screen and (max-width: 1404px) {
  .fieldNames {
    font-size: 0.93em;
    margin-top: 2.4%;
  }
}


.fieldNames {
   text-align: left;
   width: 27%;
   min-width: 27%;
   margin-right:3%;
   float:left;
}


.fields {
    width: 70%;
    float:left;
    text-align: left;
}

.fields input {
    font-size: 0.7em;
    color: #5312a8;
    font-weight: 700;
    width: 94%;
    border: 2px solid #5312a8;
    border-radius: 5px;
    padding: 2px 4px;
    
}


.fields input:focus[type=text], .fields input:focus[type=password] {
    outline: none !important;
    border: 2px solid #8346D3;
    
}

footer {
   padding: 1% 0;
   flex: 0 0 auto;
   font-size: 0.5em;
   text-shadow: 0.05em 0.05em 1px hsla(0, 0%, 0%, 0.72);
   
}


/* Кнопки */
.btnSignIn {
    width: 30%;
    height: 40px;
    min-width:57px;
    font-size: 0.8em;
    padding: 3px 4px;
    margin: 15px 0 0 15px;
    border: 2px solid #5312a8;
    border-radius: 10px;
    font-weight: 700;
    color: #5312a8;
    background-color: #ffffff;
}

.btnSignIn:hover {
    background-color: #8346D3;
    color: #ffffff;
    border: 2px solid #32066D;
}